# Twitch
TWITCH_CHANNEL=tu_canal
TWITCH_BOT_USERNAME=tu_bot_o_tu_usuario
TWITCH_OAUTH_TOKEN=oauth:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# YouTube / YouTube Music
YOUTUBE_PLAYLIST_ID=PLxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
GOOGLE_CREDENTIALS_PATH=credentials.json
GOOGLE_TOKEN_PATH=token.json

# Opcional
COMMAND_NAME=!song
QUEUE_COMMAND=!queue
SKIP_COMMAND=!skip
CLEAR_QUEUE_COMMAND=!clearqueue
MAX_VIDEO_MINUTES=12
ALLOW_DUPLICATES=false
SPOTIFY_TO_YOUTUBE_SUFFIX=official audio
SONG_SEARCH_SUFFIX=official audio
QUEUE_ADMIN_PIN=123456

# Servidor local para overlay, panel y extension
PLAYER_HOST=127.0.0.1
PLAYER_PORT=8787
